<app-filter (changed)="filter($event)"></app-filter>
<br />
<br />
<div class="archive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th (click)="sort('title')">Title</th>
                <th (click)="sort('artist_title')">Artist</th>
                <th (click)="sort('main_reference_number')">Year</th>
                <th (click)="sort('department_title')">Department</th>
            </tr>
        </thead>
        <tr *ngFor="let artwork of filteredArtworks">
          <td>
              <a href="https://api.artic.edu/api/v1/artworks/{{ artwork.id }}">
                  {{ artwork.title }}
              </a>
          </td>
          <td>
            <a href="https://api.artic.edu/api/v1/artworks/{{ artwork.id }}">
                hello
            </a>
          </td>
          <td>{{ artwork.artist_title }}</td>
          <td>{{ artwork.main_reference_number }}</td>
          <td>{{ artwork.department_title }}</td>
        </tr>
        <tr *ngIf="!filteredArtworks || !filteredArtworks.length">
            <td colspan="4">No artworks found</td>
        </tr>
    </table>
    <br />
    Number of Artworks: {{ filteredArtworks.length }}
    <br />
</div>
