<app-filter></app-filter>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Year</th>
            <th>Department</th>
        </tr>
    </thead>
    <tr *ngFor="let artwork of filteredArtworks">
      <td>{{ artwork.title }}</td>
      <td>{{ artwork.artist_title }}</td>
      <td>{{ artwork.main_reference_number }}</td>
      <td>{{ artwork.department_title }}</td>
  </tr>
  <tr *ngIf="!filteredArtworks || !filteredArtworks.length">
      <td colspan="4">No artworks found</td>
  </tr>
</table>
Number of Artworks: {{ filteredArtworks.length }}
<br />
