<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Year</th>
            <th>Department</th>
        </tr>
    </thead>
    <tr>
        <td>
            <a>

            </a>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td>

        </td>
    </tr>
    <tr>
        <td colspan="4">No artworks found</td>
    </tr>
</table>
Number of Artworks:
<br />
