/* You can add global styles to this file, and also import other style files */
body { margin: 0; padding: 0; background-color: #f2f2f20e; max-width: 100%; overflow-x: hidden; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

* {
  text-decoration: none;
}

*:link {
  color: #b50937d2;
}

*:visited {
  color: #a0770fed;
}

app-details {
  margin: 2em !important;
}
