@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Open+Sans:wght@300;400;500&family=Source+Sans+Pro:wght@700&display=swap');

.page-container {
  text-align: center;
}

.page-container > div > h1 {
  font-family: 'Cinzel', serif;
}


.page-table {
  margin: auto;
}

#description {
  max-width: 843px;
  text-align: center;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}

#long-des {
  text-align: left !important;
  max-width: 843px;
  word-wrap: normal;
  word-break: normal;
  margin-top: -3.35em !important;
}

#short-des {
  text-align: center !important;
  max-width: 843px;
  word-wrap: normal;
  word-break: normal;
}
