<div class='page-container'>
    <div *ngIf="artwork">
        <h1>{{ artwork.title }} ({{ details.data.date_display }})</h1>

        <table class='page-table'>
            <thead>
                <tr>
                    by {{ details.data.artist_title }}
                </tr>
                <br />
                <tr>
                    <img src="https://www.artic.edu/iiif/2/{{details.data.image_id}}/full/843,/0/default.jpg">
                </tr>
            </thead>
            <br />
            <div id='description'>
                <p id='short-des'>
                    {{ details.data.thumbnail.alt_text.length < 130 ? details.data.thumbnail.alt_text : null}}
                    <br />
                    <br />
                    {{ details.data.thumbnail.alt_text.length < 130 ? details.data.department_title : null}}
                </p>
                <p id='long-des'>
                  {{ details.data.thumbnail.alt_text.length > 130 ? details.data.thumbnail.alt_text : null}}
                  <br />
                  <br />
                  {{ details.data.thumbnail.alt_text.length > 130 ? details.data.department_title : null}}
                </p>

            </div>
        </table>
    </div>
    <div *ngIf="!artwork">
        No artwork found
    </div>
    <br />
    <br />
    <a routerLink="/artworks">View All Artworks</a>
    <br />
    <br />
</div>
