<div class='page-container'>
    <div *ngIf="artwork">
        <h1>{{ artwork.title }} ({{ details.data.date_display }})</h1>

        <table class='page-table'>
            <thead>
                <tr>
                    by {{ details.data.artist_title ? details.data.artist_title : 'Unknown' }}
                </tr>
                <br />
                <tr>
                    <img src="https://www.artic.edu/iiif/2/{{details.data.image_id}}/full/843,/0/default.jpg">
                </tr>
            </thead>
            <br />
            <div id='description'>
                <p>
                {{ details.data.thumbnail.alt_text }}
                </p>
            </div>
            <br />
            <br />
            <tr>
                {{ details.data.department_title }}
            </tr>
        </table>
    </div>
    <div *ngIf="!artwork">
        No artwork found
    </div>
    <br />
    <a routerLink="/artworks">View All Artworks</a>
    <br />
    <br />
</div>
